.link_on_insta {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 194px;
  text-align: center;
}

.text_link {
  width: 194px;
  height: 31px;

  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 128%;

  color: #000000;
}

.nav_posts,
.pos_nav_sections_card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_sections_card__left_button,
.nav_sections_card__rigth_button,
.focus_card {
  display: flex;
  justify-content: center;
  right: -50px;
  width: 60px;
  height: 60px;
  margin: 20px;
  align-items: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
}

.post_content {
  display: block;
}

.post_content .posts {
  display: flex;
  margin-bottom: 10px;
}

.post_content .post {
  width: 248px;
  height: 340px;
  margin: 10px;
}

.post_content .post img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.focus_card {
  width: 6px;
  height: 6px;
  margin: 0 7px 0 7px;
  background: #000;
}

.nav_sections_card__rigth_button {
  padding: 0;
  margin-left: 46px;
  background: #000;
}

.nav_sections_card__left_button p,
.nav_sections_card__rigth_button p {
  display: flex;
  text-align: center;
  justify-content: center;
}

.nav_sections_card__left_button,
.nav_sections_card__rigth_button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0;
}
